# Johan Kristoffer Skoven Løye (jklo@itu.dk)
Johan Skoven <jklo@itu.dk> jskoven <95276114+jskoven@users.noreply.github.com>
Johan Skoven <jklo@itu.dk> Johan Skoven <johan@Johans-MacBook-Pro.local>

#Asger Ramlau Jørgensen (asjo)
Asger <asjo@itu.dk> Asger124 <asjo@itu.dk>
Asger <asjo@itu.dk> Asger124 <96051292+Asger124@users.noreply.github.com>
Asger <asjo@itu.dk> Asger124 <asger_brondby@hotmail.com>
Asger <asjo@itu.dk> Asger124 <asger.ramlau@outlook.dk>

# Malte Black Nielsen (mbln)
Malte <mbln@itu.dk> MalteBlackN <mbln@itu.dk>
Malte <mbln@itu.dk> MalteBlackN <94905237+MalteBlackN@users.noreply.github.com>

# Anders Juul Ingerslev (aing)
Anders <aing@itu.dk> Anders Juul Ingerslev <anders_ji@hotmail.com>
Anders <aing@itu.dk> andsji <95748272+andsji@users.noreply.github.com>

