services:
  minitwit:
    image: ${DOCKER_USERNAME}/minitwitimage:latest
    ports:
      - "80:5000"
    environment:
      - DATABASE_URL=mysql+pymysql://root:password@mysql:3306/minitwit
    depends_on:
      - mysql

  mysql:
    image: ${DOCKER_USERNAME}/mysqlimage:latest
    environment:
      - MYSQL_ROOT_PASSWORD=password
      - MYSQL_DATABASE=minitwit

  flagtool:
    image: ${DOCKER_USERNAME}/flagtoolimage:latest
    depends_on:
      - mysql